.todos{
    /* background-color: aqua; */
    margin: 10px;
    
}

.task{
    display: flex;
    justify-content: space-around;
    margin: 10px;
     background-color: orange;
}

.item{
    background-color: blue;
}

.compelete{
    background-color: green;
}