/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: blueviolet; */
    text-align: center;
}

p{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

h2{
    color: orangered;
}