/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: blueviolet; */
    text-align: center;
}

p{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}


h1{
    color: goldenrod;
}
h2{
    color: orangered;
}


nav{
    /* background-color: aqua; */
    /* padding: 30px; */
    display: flex;
    justify-content: space-around;
}


a{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}